# Purpose: This is the default configuration file and is empty
#   This file should be populated before enabling the service
#   This file is created during install, here is an example
# Location: /etc/tfe/tfe-backup.config

# This is the default configuration file and is empty
TFE_BACKUP_S3_BUCKET_NAME=""
TFE_BACKUP_PASSWORD=""
TFE_BACKUPS_TO_RETAIN=5
